RewriteEngine on

## If neccessary, the `RewriteBase` directive should be the absolute physical path to the directory that contains this htaccess file.
# RewriteBase /

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]